body {
    margin: 0px;
    color: black;
}

header {
    position:absolute;
    top: 0px;
    background-color: rgb(71, 13, 100);
    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 0px;
    background-color: rgb(71, 13, 100);
    width: 100%;
    height: 5vh;
    color: white;
}

#list-container {
    position:absolute;
    top: 13vh;
    width: 100%;
}

.first-line {
    display: flex;
    justify-content: start;
    text-align: center;
    margin: 0px 10% 0px;
    max-height: 6vh;
    color: black;
}

.table-first {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    overflow: hidden;
}

.product-line {
    display: flex;
    justify-content: start;
    text-align: center;
    margin: 0px 10% 0px;
    max-height: 6vh;
    color: black;
}


.table {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    overflow: hidden;
}

.paginas-display {
    display: flex;
    justify-content: end;
    margin: 0px 10vw 0px;
    max-height: 3vh;
}

.modifiers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    min-width: 4vh;
    margin-top: 0px;
}

.modifiers {
    width: 30%;
    display: flex;
}

.text-area {
    resize: none;
    padding: 0px;
    color: black;
}

.text-area:hover,
.text-area:focus {
    resize: none;
    padding: 0px;
    background-color: White;
    color: black;
}

.erase-button {
    text-align: center;
    color: black;
    padding: none;
    width: 100%;
    height: 100%;
}

#busqueda {
    width: 15vw;
    color: black;
}

.add-element-button{
    height: 50%
}

.new-item-form-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 10%;
    background-color: white;
    border-radius: 15px;
}

#form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}


.cancel-button{
    position: absolute;
    top: 3vh;
    right: 3vw;
    margin: 10%;
}

#link{
    position: absolute;
    right: 0;
    left: 0;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

